
.login-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquas;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    row-gap: 2rem;

}

.lp-heading{
    color: var(--navy);
    
}

.lp-sub-heading{
    font-weight:500;
    color: var(--navy); 
    filter: opacity(0.8);
    
}

.lp-headings{
    align-self: flex-start;
}

.login-form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 100%;
}

.login-icon{
    height: 32px;
    width: 32px;
}

#login-username-icon{
    background-image: url('/src/components/auth/icons/id-card.png');
}

#login-password-icon{
    background-image: url("/src/components/auth/icons/password.png");
}

.form-field{
    outline: none;
    border: none;
    background-color: var(--white);
    font-size: 1.2rem;
    width: 70%;
    
}

.error{
  color: red;
}

.login-form-items{
    display: flex;
    column-gap: 0.8rem;
    position: relative;
    /* box-shadow: 0 8px 6px -7px var(--navy); */
    border-bottom: 1px solid var(--dark-blue);
    padding: 0.3rem;
    align-items: center;
    width: 100%;
    
}

.form{
  max-width: 400px;
  width: 100%;
}



/* CSS */
.login-submit-btn {

  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: rgb(71, 121, 182);  
  color:white;
  cursor: pointer;
}


.signup-link{
    font-weight: 600;
    text-decoration: none;
    color: var(--navy);
    border: 2px solid var(--navy);
    padding: 0.2rem 0.3rem;
    border-radius: 10px;

}

