

.signup-page{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquas;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    row-gap: 2rem;
}


.signup-page>h1{
    align-self: flex-start;
    color: var(--dark-blue);
}

.signup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}


.field-container{
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 80%;
    row-gap: 0.2rem;
}

.field{
    font-size:1.3rem;
    padding: 0.4rem 1rem;
    border: none;
    background-color: rgb(85, 111, 145);
    color:white;
    border-radius: 10px;
    outline: none;
}


.error{
    color: red;
}

::placeholder{
    color: rgb(189, 184, 184);
}


.signup-btn{
    padding: 0.6rem 1.2rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    background-color: var(--navy);
    border-radius: 10px;
    outline: none;
    border: none;
}
